
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/* ! ФУТЕР */
.container {
	width: 1200px;
	margin: auto;
}
header{
	padding-top: 44px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.enter{
	background-image: url(../img/home.svg);
	width: 690px;
}
.logo{
	display: inline-block;
}
.btn-enter{
	width: 96px;
	height: 40px;
	left: 1101px;
	top: 44px;
	background: #1890FF;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	background-image: url(../img/enter.svg);
	background-repeat: no-repeat;
	background-position: left 18px center;
	padding-left: 36px;
}
.btn-busket{
	width: 113px;
	height: 40px;
	left: 1207px;
	top: 44px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	background-image: url(../img/busket.svg);
	background-repeat: no-repeat;
	background-position: left 14px center;
	padding-left: 36px;
}
.input{
	width: 690px;
	height: 40px;
	font-size: 16px;
	line-height: 24px;
	color: #BFBFBF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding: 8px 32px;
}
/* ! ЗАГОЛОВОК промо */
.promo{
	background: #FFF1B8 url(../img/promo-pizza.png) no-repeat top right;
	border-radius: 10px;
	height: 300px;
	filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
	color:#302C34;
	font-style: normal;
	padding: 34px 70px; 

}
.promo-title{
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;
}
.promo-text{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}
/* ! РЕСТОРАНЫ */
.head1{
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	margin-top: 50px;
}
.title1{
	margin: 0;
	width: 190px;
}
.find{
	background-image: url(../img/find.svg);
	width: 306px;
}
/* ! БЛЮДА */
.generalmenu{
	padding-top: 44px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.cart{
		display: inline-block;
		background: #FFFFFF;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
		border-radius: 7px;
		overflow: hidden;
		margin-bottom: 30px;
}
.menu-image {
	border-radius: 7px 7px 0px 0px;
	width: 384px;
	height: 250px;
	object-fit: cover;
}

.menu-text {
	padding: 20px 23px 35px;
}

.menu-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.restoran {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}

.time {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #262626;
	border-radius: 3px;
	padding: 1px 8px;
}

.menu-reiting {
	display: flex;
	align-items: center;
}

.reiting {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #FFC107;
	padding: 0 22px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 3px;
}

.price {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}

.category {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
	background-image: url(../img/dot.svg);
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding-left: 23px;
}