*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: auto;
}
/* ! ФУТЕР */
.container {
	margin-bottom: 46px;
	width: 1200px;
}
header{
	margin-top: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin: 0;
}
.enter{
	background-image: url(../img/home.svg);
	flex: 0.8;
}
.btn{
	margin: 0;
}
.btn-enter{
	width: 96px;
	height: 40px;
	left: 1101px;
	top: 44px;
	background: #1890FF;
	color: #FFFFFF;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	background-image: url(../img/enter.svg);
	background-repeat: no-repeat;
	background-position: left 18px center;
	padding-left: 36px;
}
.btn-busket{
	width: 113px;
	height: 40px;
	left: 1207px;
	top: 44px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	background-image: url(../img/busket.svg);
	background-repeat: no-repeat;
	background-position: left 14px center;
	padding-left: 36px;
}
.input{
	width: 690px;
	height: 40px;
	font-size: 16px;
	line-height: 24px;
	color: #BFBFBF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding: 8px 32px;
}
main{
	margin-top: 27px;
	height: 1300px;
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%); /* !градиент подложка фон*/
}
/* ! ЗАГОЛОВОК промо */
.promo{
	margin-top: 49px;
	background: #FFF1B8 url(../img/promo-pizza.png) no-repeat top right;
	border-radius: 10px;
	height: 300px;
	filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
	color:#302C34;
	font-style: normal;
	padding: 34px 70px; 
}
.promo-title{
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;
}
.promo-text{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}
/* ! РЕСТОРАНЫ */
.head1{
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	margin-top: 50px;
}
.title1{
	margin: 0;
	width: 190px;
}
.find{
	background-image: url(../img/find.svg);
	width: 306px;
}
/* ! БЛЮДА */
.generalmenu{
	padding-top: 44px;
	display: flex;
	flex-wrap: wrap; 			/*!перенос на новую строку*/
	align-items: flex-start;
	justify-content: space-between;
}
.cart{
		display: inline-block;
		background: #FFFFFF;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05); /* !тень на карточке*/
		border-radius: 7px;
		overflow: hidden;
		margin-bottom: 30px;
		flex-basis: 31%;   /* !процент занимаемой ширины*/
}
.menu-image {
	border-radius: 7px 7px 0px 0px;
	width: 384px;
	height: 250px;
	object-fit: cover; /*!обрезать картинку по размерам*/
}
.menu-text {
	padding: 20px 23px 35px;
}
.menu-title {
	display: flex;
	align-items: center; /*!центрировать по вертикали*/
	justify-content: space-between;
}
.restoran {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	
}
.time {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #262626;
	border-radius: 3px;
	padding: 1px 8px;
	margin: 0;
}
.menu-reiting {
	margin-top: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.reiting {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #FFC107;
	padding: 0 22px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 3px;
}
.price {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}
.category {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
	background-image: url(../img/dot.svg);
	background-repeat: no-repeat;
	background-position: left 10px center;
	padding-left: 28px;
}
.footer{
	/* width: 1200px; */
	display: flex;
	justify-content: space-between;
	margin: 60px auto 60px;
}
.footer-menu{
	display: flex;
	margin: 0;
}
.navig{
	display: flex;
	padding-left: 35px;
	align-items: center;
}
.navig-link{
	text-decoration: none;
	color: #595959;
}
.navig-link:not(:last-child){ /*! для всех кроме последнего*/
	margin-right: 15px;
}
.social{
	display: flex;
	align-items: center;
	margin: 0;
}
a:not(:last-child){
	margin-right: 21px;
}

/*!                             адаптив*/
@media (max-width: 1366px) {
	.container{
		max-width: 960px;
	}
	main{
		height: 1290px;
	}
	.category{
		font-size: 12px;
	}
}
@media(max-width:1024px){
	.container{
		max-width: 760px;
	}
	.cart{
		flex-basis: 45%;
	}
	.category{
		font-size: 16px;
	}
	main{
		height: 1600px;
	}
	.promo{
		height: 220px;
		background: #FFF1B8 url(../img/promo-pizza.png) no-repeat top right /520px;
	}
	.promo-title{
		font-size: 30px;
		line-height: 30px;
	}
	.promo-text{
		font-size: 16px;
		line-height: 20px;
	}
}